<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class = "topTitle">
        <h1>- BookFace -</h1>
        <h2 class = "secondaryTitle">Carson's Blog Page</h2>
        </div>
        
        <hr>
        <div class = "editingPosts">
        <h2>Create a New Post!</h2>
        <form action="/add" method="POST">
            <div>
                <label for="myTableAuthor">Author Name:</label>
                <input name="myTableAuthor" id="myTableTitle" value="" />
                <br>
                <br>
                <label for="myTableTitle">Title: </label>
                <input name="myTableTitle" id="myTableTitle" value="" />
                <br>
                <br>
                <label for="myTableText">Content:  </label>
                <input name="myTableText" id="myTableText" value="" />
            </div>
            <div>
                <br>    
                <button>Create Post!</button>
            </div>
        </form>
        <hr>
        <h2>Delete a Post</h2>
                <form action="/delete" method="POST">
            <div>
                <label for="myTable">Post ID to Delete:</label>
                <input name="myTable" id="myTable" value="Example: 1" />
            </div>
            <div>
                <button>Delete Post!</button>
            </div>
        </form>
        <hr>
        <h2>Update an Existing Post</h2>
        <form action="/update" method="POST">
            <div>
                <label for="myTableID">Post ID to Update:</label>
                <input name="myTableID" id="myTableID" value="Example: 1" />
                <br>
                <br>
                <label for="myTableText">New Content:  </label>
                <input name="myTableText" id="myTableText" value="" />
            </div>
            <div>
                <br>    
                <button>Update Post!</button>
            </div>
        </form>
        </div>
        <hr>
        <div class = "topTitle">
            <h1>Today's Blog Posts!</h1>
        </div>
        
        <div style="padding: 30px;">
            {% for txt in data%}
            <div class = "postBlock">
                <p>Post ID: <span style = "font-weight: bold">{{txt.myTable_id}}</span></p>
                <p>Author: <span style = "font-weight: bold">{{txt.myTable_author}}</span></p>
                <p>Title: <span style = "font-weight: bold">{{txt.myTable_title}}</span></p>
                <div class = "postBody">
                    <p>{{txt.myTable_txt}}</p>
                </div>
            </div>
            {% endfor%}
        </div>
    
    </body>
</html>